/* Landing Page CSS */



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



/* Variables */
:root {
  --container-color: #1a1e21;
  --second-color: #502c73;
  --text-color: #172317;
  --bg-color: #fff;

}

#profilePicture {
  z-index: 1;
  width: 50px; 
  object-fit: cover;
}

body {
  background: #007bff;
  background: linear-gradient(to right, #502C73, #a90aff);
}

#postTextField {
  border-color: #502c73;
  border-radius: 20px;
  border-width: 4px;
}

#homeBtn {
  text-shadow: 1px 1px 5px #b1adad49;
}

#homeBtn:hover {
  transition: transform .3s;
  transform: scale(1.7);
}
#bioBtn:hover {
  transition: .2s;
transform: scale(1.4);
background-color: #502c73;
color: #fff;

}
#profileBtn {
  text-shadow: 1px 1px 5px #b1adad49;
}

#profileBtn:hover {
  transition: transform .3s;
  transform: scale(1.7);
}
#signoutBtn {
  text-shadow: 1px 1px 5px #b1adad49;
}

#signoutBtn:hover {
  transition: transform .3s;
  transform: scale(1.7);
}
#sideNavBar {
  position: fixed;
}


#postBtn:hover {
transition: .2s;
transform: scale(1.4);
background-color: #502c73;
color: #fff;

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.btn-login {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 0.75rem 1rem;
}


.container {
  max-width: 1068;
  margin: auto;
  width: 100%;
}


.login {
  padding: 8px 14px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
  background: var(--second-color);
  color: var(--bg-color);
}

.login:hover {
  background: black;
  color: var(--second-color);

}

#bioTextField {
  border-color: #502c73;
  border-radius: 20px;
  border-width: 4px;
}





/*Footer*/
.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
  
}

.fa-brands {
  color: #502C73;
  font-size: 20px;
}
.fa-brands:hover{
  transition: transform .2s;
  transform: scale(1.5);
}

.footer p {
  font-size: 0.938rem;
}

.social {
  display: flex;
  align-items: flex-start;
  column-gap: 1rem;

}

.social .bx {
  font-size: 2rem;
  color: var(--text-color);
}

.social .bx:hover {
  color: var(--second-color);
  transition: 0.3s all linear;
}